body
{
}

.CSSButton {
    background-color: #44c767;
    color: white;
    font-size: 16;
    height: 60;
    font-family:Chiller;
    border-radius:2em;
}

.Player1{
    background-color: #032aac;
    color:white;
    font-size:18;
    height: 25;
    font-style: italic;
    border: 0;
}

.Player2{
    background-color: #ff0000;
    color:white;
    font-size:18;
    height: 60;
    font-style: italic;
    font-weight: bold;
    border: 0;
}